* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #fff;
    scroll-behavior: smooth;
}
nav {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 10px 1%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    display: flex;
    z-index: 1000;
}
nav h2 {
    font-weight: 700;
    color: black;
}
nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    transition: 0.3s;
    font-weight: 500;
}
nav a:hover {
    color: #00f5ff;
}
.hero {
    text-align: center;
    padding: 100px 20px;
    font-size: 40px;
    color: #2c3e50;
}
.hero h1 {
    font-size: 40px;
    color: #2c3e50;
    margin-bottom: 10px;
}
.hero p {
    font-size: 20px;
    color: #00f5ff;
}
section {
    padding: 15px 5%;
}
.card {
    background: rgba(255, 255, 255, 0.08);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    margin: 20px 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    transition: 0.4s;
}
.card:hover {
    transform: translateY(-8px);
}
h2 {
    margin-bottom: 15px;
    color: #00f5ff;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.skills span {
    background: #00f5ff;
    color: #000;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 500;
    margin: 5px;
    display: inline-block;
    transition: 0.3s;
}
.skills span:hover {
    background: #fff;
}
.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    margin-top: 30px;
}
.project-card {
    background: rgba(255, 255, 255, 0.08);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
    transition: 0.4s;
    border: 1px solid rgba(255, 255, 255,0.1);
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 25px;
}
.project-card h3 {
    margin-bottom: 10px;
    color: #00f5ff;
}
.project-card p {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.6;
}
.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 35px rgba(0, 245, 255, 0.3);
}
.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.project-left {
    flex: 1;
}
.project-right {
    width: 500px;
    height: 220px;
    overflow: hidden;
    border: 3px sloid black;
    border-radius: 15px;
}
.slider-track {
    display: flex;
    transition: slide 9s infinite;
}
.slide-img {
    width: 500px;
    height: 220px;
    flex: 0 0 500px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.4s ease;
} /*
.slide-img.active {
    transform: scale(1.2);
} */
@keyframes slide {
    0%, 30% {
        transform: translateX(0);
    }
    35%, 65% {
        transform: translateX(-500px);
    }
    70%, 100% {
        transform: translateX(-1000px);
    }
}
.project-right:hover .slide-img {
    transform: scale(1.1);
}
.github-btn {
    background-color: #00f5ff;
    border: none;
    padding: 10px 18px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
    cursor:pointer;
}
.github-btn:hover {
    background: #00c3ff;
    color: #000;
    transform: scale(1.05);
}
.project-right::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.15), transparent);
    pointer-events: none;
}
.contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.login-btn {
    background: linear-gradient(45deg, #00f5ff, #00c3ff);
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    transition: 0.3s ease;
    white-space: nowrap;
}
.login-btn:hover {
    transform: scale(1.05);
}
button {
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(45deg, #00f5ff, #00c3ff);
    color:#000;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}
button:hover {
    transform: scale(1.05);
}
input, textarea {
    width: 100%;
    padding:12px;
    margin:10px 0;
    border-radius: 10px;
    border:none;
    outline:none;
}
textarea {
    resize: none;
}
.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    justify-content: center;
    align-items: center;
    padding: 60px;
    box-sizing: border-box;
}
.modal-content {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
    animation: zoomIn 0.3s ease;
}
@keyframes zoonIn {
    from{transform: scale(0.85); opacity:0;}
    to{transform: scale(1); opacity:1;}
}
.closeBtn {
    position: absolute;
    top:20px;
    right: 40px;
    color: white;
    font-size: 35px;
    cursor:pointer;
}
@media(nax-width:768px) {
    .skills {
        justify-content: center;
    }
    .hero h1 {
        font-size: 32px;
    }
}